.popup {
    display: flex;
    position        : fixed;
    left            : 0;
    right           : 0;
    top             : 0;
    bottom          : 0;
    background-color: rgba(0, 0, 0, .5);
    margin          : 0;
    padding         : 0;
    justify-content : center;
    align-items     : center;
    visibility      : hidden;
    opacity         : 0;
    transition      : visibility 1s linear 1s, opacity 1s;
}

/* div>ul {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
} */

/* div:hover>ul {
    visibility: visible;
    opacity: 1;
} */
/* 
.popup {
    
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
} */