.popup__button-save {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    max-width: 358px;
    min-width: 238px;
    box-sizing: border-box;
    height: 50px;
    position: relative;
    background-color: #000000;
    color: #FFFFFF;
    display: block;
    margin: 48px 0 0 0;
    padding: 0;
    cursor: pointer;
    opacity: 1;
}

.popup__button-save:hover {
    opacity: .8;
}

@media screen and (max-width: 530px) {
    .popup__button-save {
        width: 238px;
        margin: 45px 0 0 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }
}