.whole-page {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    background-color: #000000;
    font-family: 'Inter', Arial, sans-serif;
}