.header {
    display: flex;
    align-items: flex-start;
    min-height: 74px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width:781px) {
    .header {
        min-height: 56px;
    }
}