.elements {
    display: grid;
    grid-template-columns: 282px 282px 282px;
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    /* align-self: center; */
    box-sizing: border-box;
    position: relative;
    /* margin: 0 auto; */
    /* width: 100%; */
    }

@media screen and (max-width:920px) {
    .elements {
        grid-template-columns: minmax(230px, 282px) minmax(230px, 282px) minmax(230px, 282px);
        }
}

@media screen and (max-width:778px) {
    .elements {
        grid-template-columns: minmax(230px, 282px) minmax(230px, 282px);
        }
}

@media screen and (max-width:518px) {
    .elements {
        grid-template-columns: minmax(230px, 282px);
        }
}