.element__image {
    padding: 0;
    margin: 0;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    width: 282px;
    height: 282px;
    display: block;
    /* width          : 100%; */
}

/* 
@media screen and (max-width:916px) {
    
    height: 1 hs
} */