.profile__add {
    background-color: #000000;
    background-image: url(../../../images/add_button.svg);
    background-size: 22px;
   width: 150px;
   height: 50px;
    background-position: center;
    cursor: pointer;
    /* background-size: 100%; */
    background-repeat: no-repeat;
    display: block;
    border: 2px solid white;
    border-radius: 2px;
    padding: 0;
}

@media screen and (max-width: 700px) {
    .profile__add {
        width: 100%;
        margin: 36px 0 0;
        background-size: 16px;
        box-sizing: border-box;
        }
}