.element__data {
    padding         : 0;
    margin          : 0;
    background-color: #FFFFFF;
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    color           : black;
    align-items: baseline;  
    padding: 25px 15px 31px 21px;
}